<!-- Naver Maps API Script -->
<script type="text/javascript" src="https://oapi.map.naver.com/openapi/v3/maps.js?ncpClientId=wk63z91ce7&callback=initMap"></script>
<script type="text/javascript">
   var map = null;

   function initMap() {
        map = new naver.maps.Map('map', {
            center: new naver.maps.LatLng(35.1895759, 129.069),
            zoom: 14
        });

        var marker = new naver.maps.Marker({
            position: new naver.maps.LatLng(35.1895759, 129.08317),
            map: map
        });
   }
</script>

<!-- Start Footer Area -->
<footer>
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-lg-3">
                    <div class="footer-widget wow fadeIn" data-wow-duration="1s" style="margin-top:1em;">
                        <h5>연락주세요</h5>
                        <p>busancef@naver.com<br> 051-506-7311</p>
                    </div>
                </div>
                <div class="col-md-3 col-lg-3">
                    <div class="footer-widget wow fadeIn" data-wow-duration="2s" style="margin-top:1em;">
                        <h5>오시는 길</h5>
                        <p>부산광역시 연제구 거제천로230번길 53, 47519</p>
                    </div>
                </div>
                <div class="col-md-5 col-lg-5 offset-lg-1 offset-md-1">
                    <div class="footer-widget wow fadeIn" data-wow-duration="3s">
                        <div class="map" id="map"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row justify-content-between">
                <div class= "col-md-5 col-lg-5" id="icon">
                    <a href="{{ "/" | relative_url }}"><img style="width:9em; height:3em;" src="{{ '/assets/icons/cef-logo.png' | relative_url }}" alt="header logo"></a>
                </div>
                <div class="col-md-5 col-lg-5" id="copyright">
                    <p style="font-size:0.75em;"> Copyright &copy; {{ site.time | date: '%Y' }} Child Evangelism Fellowship of South Korea.</p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer Area -->

<style>
    .footer-top {
        position: relative;
        background-color: #9CC094;
        box-shadow: 0px 3px 10px 1px rgb(129, 129, 129, 0.5);
        padding-top: 1.5em;
        z-index: 2;
    }
    .map {
        width:100%;
        height:11em; 
        background-color: rgb(204, 229, 149);
        border-radius: 20px;
        box-shadow: -10px 10px rgb(149, 148, 148);
    }
    .footer-bottom {
        position: relative;
        z-index: 1;
        background-color: #F9F9E2;
        padding: 15px;
    }
    #copyright {
        text-align: right;
    }
</style>