<!-- Naver Maps API Script -->
<script type="text/javascript" src="https://oapi.map.naver.com/openapi/v3/maps.js?ncpClientId=wk63z91ce7&callback=initMap"></script>
<script type="text/javascript">
   var map = null;

   function initMap() {
        map = new naver.maps.Map('map', {
            center: new naver.maps.LatLng(35.1895759, 129.0825989),
            zoom: 16
        });

        var marker = new naver.maps.Marker({
            position: new naver.maps.LatLng(35.1895759, 129.08317),
            map: map
        });
   }
</script>

<!-- Start Footer Area -->
<footer class="footer-area bg-color3">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <div class="footer-widget wow fadeIn" data-wow-duration="1s">
                        <h5>연락주세요</h5>
                        <p>example@gmail.com <br> 010-0000-0000</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="footer-widget wow fadeIn" data-wow-duration="2s">
                        <h5>찾아오시는 길</h5>
                        <p>부산광역시 연제구 거제천로230번길 53, <br> 47519</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="footer-widget wow fadeIn" data-wow-duration="3s">
                        <div class="map" id="map"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="footer-copyright text-center">
                <p> &copy; Copyright {{ site.time | date: '%Y' }} {{site.title}} - Designed by <a href="https://themeix.com">Themeix</a></p>
            </div>
        </div>
    </div>
    <a href="#" class="home-top"><i class="fa fa-angle-down" aria-hidden="true"></i></a>
</footer>
<!-- End Footer Area -->

<style>
    .footer-top {
        background-color: #9CC094;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
        padding-top: 3em;
    }
    .map {
        width:25em;
        height:11em; 
        background-color: red;
        border-radius: 20px;
        box-shadow: -10px 10px rgb(149, 148, 148);
    }
</style>