<div>
   <div class="heading-1" style="--header-bg-image: url('{{ include.background_image | default: '/assets/images/header/bible.jpeg' | relative_url }}');">
       <div class="heading-text">{{page.title}}</div>
   </div>
</div>

<style>
.heading-1 {
   position: relative;
   width: 100%;
   height: 250px;
   background-color: #f9f9e2;    
   background-size: cover;
}

.heading-1::after {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: var(--header-bg-image) no-repeat center center;
   background-size: cover;
   clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);
   -webkit-clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);
   z-index: 1;
}

.heading-text {
   position: relative;
   z-index: 2;
   color: white; /* Change this to the color you prefer */
   font-size: 1em; /* Adjust the font size as needed */
   text-align: left; /* Center the text horizontally */
   font-weight: 500;
   padding-left: 100px;
   padding-top: 55px;
   top: 50%; /* Center the text vertically */
   transform: translateY(-50%); /* Center the text vertically */
}
</style>