---
layout: default
---

{% include header.html %}
{% include doc_post_header.html %}
<section class="layout-area bg-color1 content tutorial">
  <div class="layout-wrapper section-spacing bminus-30">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          {% include doc_post_breadcrumb.html %}
        </div>
      </div>
      <div class="row">
        {% if page.custom_links != nil %}
        <div class="col-md-3">
          <div class="custom-links">
            <h5>In this article</h5>
            <ul class="nav navbar-nav" id="nav">
              {% for link in page.custom_links %}
              <li class="subitem">

              <!-- shows the categories, custom-link -->

                <a href="#" class="custom-link" data-tag="{{ link.text }}">{{ link.text }}</a>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
        {% endif %}
        
        {% assign col = "6" %}
        {% if page.toc != true %}
        {% assign col1 = "3" %}
        {% endif %}
        {% if page.custom_links == nil %}
        {% assign col2 = "3" %}
        {% endif %}
        
        <div class="col-md-{{ col | plus: col1 | plus: col2 }}">
          <div class="tutorial-content mx-auto">
            <div class="doc-content" id="doc-content">
            </div>
            <div>
              <p>Welcome! Please select a link to filter the posts.</p>
              <table id="posts-table">
                <thead>
                  <tr>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Date</th>
                  </tr>
                </thead>
                <tbody>
                  {% for post in site.posts %}

                    <!-- shows the rows of filtered rows, post-link -->
                    {% if post.category == page.title %}
                    <tr class="post-row" data-tags="{{ post.tags | join: ' ' }}" category-tags="{{ post.category | join: ' ' }}">  
                      <td><a href="#" class="post-link" data-url="{{ post.url }}">{{ post.title }}</a></td>
                      <td>{% if post.author %}<a href="{{ post.author_url }}">{{ post.author }}</a>{% else %}Unknown{% endif %}</td>
                      <td>{{ post.date | date_to_long_string }}</td>
                    </tr>
                    {% endif %}
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
        {% if page.toc == true %}
        <div class="col-md-3">
          <div class="doc-sidebar-menu doc-right-sidebar">
            <div>
              <div id="table-of-contents">
                <h5 class="px-3 pt-3">Table of Content</h5>
                {% include toc.html html=content %}
              </div>
            </div>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>

{% include support_area.html %}
{% include support_area_2.html %}
{% include footer.html %}

<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    var links = document.querySelectorAll(".custom-link");
    var postLinks = document.querySelectorAll(".post-link");
    
    // Function to filter posts based on custom links
    links.forEach(function(link) {
      link.addEventListener("click", function(event) {
        event.preventDefault();
        var tag = event.target.getAttribute("data-tag");
        console.log('tag', tag);
        // Hide all table rows initially
        var rows = document.querySelectorAll(".post-row");
        rows.forEach(function(row) {
          if (row.getAttribute("data-tags") === tag) {
            row.style.display = "";
          } else {
            row.style.display = "none";
          }
        });

        // Update doc-content with the filtered table rows
        var docContent = document.getElementById("doc-content");
        docContent.innerHTML = "<p><a href='" + location.href + "''>" + document.title + "</a> > " + tag + "</p>";
      });
    });

    // Function to fetch and display post content on post-link click
    postLinks.forEach(function(postLink) {
      postLink.addEventListener("click", function(event) {
        event.preventDefault();
        var url = event.target.getAttribute("data-url");
        var contentDiv = document.getElementById("doc-content");

        // Fetch the post content using AJAX
        fetch(url)
          .then(response => response.text())
          .then(data => {
            // Extract the post content
            var parser = new DOMParser();
            var doc = parser.parseFromString(data, 'text/html');
            var postTitle = doc.querySelector('h2.post-title').outerHTML;
            var postMeta = doc.querySelector('ul.post-meta').outerHTML;
            var postBody = doc.querySelector('.post-body').innerHTML;

            // Combine the post elements
            var htmlContent = postTitle + postMeta + postBody;
            contentDiv.innerHTML = htmlContent;
          })
          .catch(error => {
            contentDiv.innerHTML = "<p>Error loading content. Please try again later.</p>";
          });
      });
    });
  });
</script>