---
layout: page
---

<div>

  {% include page_header.html background_image=page.header_background_image %}

  {% for section in page.sections %}
  {% assign section_class = forloop.index | modulo: 2 | plus: 1 %}
    <div class="home-container section-{{ section_class }}" {% if forloop.last %}id="section-last"{% endif %}>
      {% for column in section.columns %}
      <div class="home-column">
        {% if column.type == "image" %}
        <img src="{{ column.src | relative_url }}" style="margin-top: -20px; width:100%; height: 89%; border-radius: 10px;">
        {% elsif column.type == "text" %}
        <h2 style="color: #971a3c">{{ column.heading }}</h2>
        <p style>{{ column.text }}</p>
        {% endif %}
      </div>
      {% endfor %}
    </div>
  {% endfor %}

</div>


<style>
  .home-container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    position: relative;
    width: 100%;
    height: 100%;
  }
  .home-column {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
  }

  @media (max-width: 1200px) {
    .home-container {
        flex-direction: column;
    }
    .home-column {
        width: 100%; /* Ensure columns take full width on small screens */
        margin: 0; /* Remove extra margins that might cause overflow */
    }
    .home-column img {
        width: 100%; /* Ensure image takes full width on small screens */
        height: auto; /* Maintain aspect ratio */
    }
  }

  .section-1 {
    background-color: #f9f9e2;
    z-index: -2;
  }
  .section-1::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    z-index: -1;
  }

  .section-2 {
    background-color: white;
    z-index: -2;
  }
  .section-2::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f9f9e2;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
    z-index: -1;
  }

  #section-last::after {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
</style>