---
layout: default
---

{% include header.html %}
<!-- Start All Posts Page Title Area -->
<section class="page-title-area bg-cover1">
   <div class="page-title-wrapper section-spacing">
      <div class="page-title text-center white-text">
         <h2 class="heading-2">All Posts</h2>
      </div>
   </div>
</section>
<!-- End Page Title Area -->

<!-- Start All Posts Table Area -->
<section class="all-posts-table-area bg-color1">
   <div class="all-posts-table-wrapper section-spacing bminus-30">
      <div class="container">
         <div class="row">
            <div class="col-md-12">
               <div class="table-responsive">
                  <table class="table table-bordered">
                     <thead>
                        <tr>
                           <th>Title</th>
                           <th>Author</th>
                           <th>Date</th>
                        </tr>
                     </thead>
                     <tbody>
                        {% for post in site.posts %}
                        <tr>
                           <td><a href="{{ post.url | relative_url }}">{{ post.title }}</a></td>
                           <td>{% if post.author %}{{ post.author }}{% else %}Unknown{% endif %}</td>
                           <td>{{ post.date | date_to_long_string }}</td>
                        </tr>
                        {% endfor %}
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<!-- End All Posts Table Area -->
{% include footer.html %}